<!-- app/views/posts/show.html.erb -->
<div class="w-full max-w-4xl p-6 mx-auto">
  <h1 class="text-4xl font-bold"><%= post.title %></h1>
  <p class="mt-4 text-lg"><%= post.content %></p>
  <p class="text-sm text-gray-500">Posted by <%= post.user.email %></p>
  
  <% if user_signed_in? && post.user == current_user %>
    <div class="flex items-center mt-6">
      <%= link_to "Edit this post", edit_post_path(post), class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <%= link_to "Back to posts", posts_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <%= link_to "Show this post", post, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>
  <% end %>
</div>