<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog App" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <!-- Notifications -->
    <div class="fixed top-0 left-0 right-0 z-50 p-4">
      <p class="px-4 py-2 text-green-800 bg-green-100 rounded-md notice" style="<%= 'display:none;' if notice.blank? %>"> <%= notice %> </p>
      <p class="px-4 py-2 text-red-800 bg-red-100 rounded-md alert" style="<%= 'display:none;' if alert.blank? %>"> <%= alert %> </p>
    </div>

    <!-- Main content area -->
    <main class="flex justify-center mt-20">
      <%= yield %>
    </main>
  </body>
</html>